apiVersion: "kubeflow.org/v1alpha1"
kind: StudyJob
metadata:
  namespace: kubeflow
  labels:
    controller-tools.k8s.io: "1.0"
  name: {NAME}
spec:
  studyName: {NAME}
  owner: crd
  optimizationtype: {GOAL}
  objectivevaluename: {PRIMARY_METRIC}
  optimizationgoal: {IDEAL_METRIC_VALUE}
  requestcount: {REQUEST_COUNT}
  metricsnames: {METRICS}
  parameterconfigs: {HYPERPARAM}
  workerSpec:
    goTemplate:
      rawTemplate: |- {WORKER_TEMPLATE}
  suggestionSpec: {SPEC}
